<h1>Gossip Library</h1>
<%=link_to "Lancer ta Rumeur", new_gossip_path, class: "btn btn-primary" %>
<p> <% @gossips.each do |element| %>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title"><%=element.content%></h5>
    <p class="card-text"><%= element.anonymous_gossiper %></p>
    <p ><%= link_to "Voir la Rumeur", gossip_path(element.id), class: "btn btn-dark" %>
    	<%= link_to "Commenter", new_gossip_comment_path(element.id), class: "btn btn-dark" %>
    	<%= link_to "<3", edit_gossip_path(element.id), class: "btn btn-dark" %>
    	<%= link_to "Éditer", edit_gossip_path(element.id), class: "btn btn-dark" %>
    	<%= link_to "Taire la rumeur", gossip_path(element.id), class: "btn btn-dark", :data => {:confirm => 'Voulez-vous taire la rumeur?', :method => "DELETE"} %>
  </div>
</div>   
<br>
<%end %> 