<h1>Gossip Library</h1>
<%=link_to "Lancer ta Rumeur", new_user_gossip_path(current_user.id), class: "btn btn-dark" %>
<p> <% @gossips.each do |gossip| %>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title"><%=gossip.content%></h5>
    <p class="card-text"><%= gossip.user.username %></p>


    <% if current_user.id == gossip.user_id %> 
    <p ><%= link_to "Voir la Rumeur", user_gossip_path(current_user.id, gossip.id), class: "btn btn-dark" %>
    	<%= link_to "Éditer", edit_user_gossip_path(current_user.id, gossip.id), class: "btn btn-dark" %>
    	<%= link_to "Taire la rumeur", user_gossip_path(current_user.id, gossip.id), class: "btn btn-dark", :data => {:confirm => 'Voulez-vous taire la rumeur?', :method => "DELETE"} %>
    <% end %>
  </div>
</div>   
<br>
<%end %> 
